@model TestApp.Entities.DataEntity

@{ 
    ViewBag.Title = Model.Name;
}


<h1>@Model.Name</h1>

<h2>ID: @Model.Id</h2>
<h2>Cuisine: @Model.Cuisine</h2>

<div>
    @Html.ActionLink("Home", "Index")
</div>