@model TestApp.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome</h1>

@foreach(var data in Model.DataEntites)
{
    @Html.Partial("_Summary", data)
}

<div>
    <a asp-action="Create">Create</a>
</div>